name: Markdown Lint

on:
  pull_request:
    paths:
      - "**/*.md"
      - ".markdownlint-cli2.jsonc"
  push:
    branches:
      - main

jobs:
  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Run markdownlint
        run: npx --yes markdownlint-cli2
